In [1]:
import pandas as pd
import time
import json

## 读取文件

In [3]:
with open('raw/all.json','r',encoding='utf8')as fp:
    json_data = json.load(fp)
    print(json_data.keys())
    print(type(json_data))

dict_keys(['confirmed', 'deaths', 'recovered', 'latest'])
<class 'dict'>

In [4]:
json_data['confirmed'].keys()

dict_keys(['locations', 'latest', 'last_updated', 'source'])

In [5]:
confirmed = json_data['confirmed']['locations']
deaths = json_data['deaths']['locations']
recovered = json_data['recovered']['locations']

In [6]:
print(len(confirmed), len(deaths), len(recovered))

264 264 250

## 中国各省

In [7]:
china_indexes = []
for (index, item) in enumerate(json_data['confirmed']['locations']):
    if item['country'] == 'China':
        china_indexes.append(index)
print(china_indexes)

[49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81]

In [8]:
provinces = []
for i in china_indexes[:5]:
    p_dict = {}
    p_dict['country'] = confirmed[i]['country']
    p_dict['country_code'] = confirmed[i]['country_code']
    p_dict['province'] = confirmed[i]['province']
    p_dict['coordinates'] = confirmed[i]['coordinates']
    p_dict['latest'] = {
        'confirmed':confirmed[i]['latest'],
        'deaths':deaths[i]['latest'],
        'recovered':recovered[i]['latest']
    }

    timeline = []
    for date in confirmed[i]['history'].keys():
        date_ = time.strftime("%Y-%m-%d", time.strptime(date, "%m/%d/%y"))
        #     print({'date': date_, 'confirmed': cnt})
        timeline.append({
            'date': date_,
            'confirmed': confirmed[i]['history'][date],
            'deaths': deaths[i]['history'][date],
            'recovered': recovered[i]['history'][date]
        })
    p_dict['timeline'] = timeline

    provinces.append(p_dict)

In [9]:
provinces[0]

{'country': 'China',
 'country_code': 'CN',
 'province': 'Anhui',
 'coordinates': {'lat': '31.8257', 'long': '117.2264'},
 'latest': {'confirmed': 991, 'deaths': 6, 'recovered': 317},
 'timeline': [{'date': '2020-01-22',
   'confirmed': 1,
   'deaths': 0,
   'recovered': 0},
  {'date': '2020-01-23', 'confirmed': 9, 'deaths': 0, 'recovered': 0},
  {'date': '2020-01-24', 'confirmed': 15, 'deaths': 0, 'recovered': 0},
  {'date': '2020-01-25', 'confirmed': 39, 'deaths': 0, 'recovered': 0},
  {'date': '2020-01-26', 'confirmed': 60, 'deaths': 0, 'recovered': 0},
  {'date': '2020-01-27', 'confirmed': 70, 'deaths': 0, 'recovered': 0},
  {'date': '2020-01-28', 'confirmed': 106, 'deaths': 0, 'recovered': 0},
  {'date': '2020-01-29', 'confirmed': 152, 'deaths': 0, 'recovered': 0},
  {'date': '2020-01-30', 'confirmed': 200, 'deaths': 0, 'recovered': 0},
  {'date': '2020-01-31', 'confirmed': 237, 'deaths': 0, 'recovered': 0},
  {'date': '2020-02-01', 'confirmed': 297, 'deaths': 0, 'recovered': 0},
  {'date': '2020-02-02', 'confirmed': 340, 'deaths': 0, 'recovered': 3},
  {'date': '2020-02-03', 'confirmed': 408, 'deaths': 0, 'recovered': 3},
  {'date': '2020-02-04', 'confirmed': 480, 'deaths': 0, 'recovered': 4},
  {'date': '2020-02-05', 'confirmed': 530, 'deaths': 0, 'recovered': 6},
  {'date': '2020-02-06', 'confirmed': 591, 'deaths': 0, 'recovered': 13},
  {'date': '2020-02-07', 'confirmed': 665, 'deaths': 0, 'recovered': 22},
  {'date': '2020-02-08', 'confirmed': 733, 'deaths': 0, 'recovered': 30},
  {'date': '2020-02-09', 'confirmed': 779, 'deaths': 1, 'recovered': 34},
  {'date': '2020-02-10', 'confirmed': 830, 'deaths': 3, 'recovered': 41},
  {'date': '2020-02-11', 'confirmed': 860, 'deaths': 4, 'recovered': 48},
  {'date': '2020-02-12', 'confirmed': 889, 'deaths': 4, 'recovered': 54},
  {'date': '2020-02-13', 'confirmed': 910, 'deaths': 5, 'recovered': 68},
  {'date': '2020-02-14', 'confirmed': 934, 'deaths': 6, 'recovered': 87},
  {'date': '2020-02-15', 'confirmed': 950, 'deaths': 6, 'recovered': 101},
  {'date': '2020-02-16', 'confirmed': 962, 'deaths': 6, 'recovered': 105},
  {'date': '2020-02-17', 'confirmed': 973, 'deaths': 6, 'recovered': 122},
  {'date': '2020-02-18', 'confirmed': 982, 'deaths': 6, 'recovered': 136},
  {'date': '2020-02-19', 'confirmed': 986, 'deaths': 6, 'recovered': 152},
  {'date': '2020-02-20', 'confirmed': 987, 'deaths': 6, 'recovered': 169},
  {'date': '2020-02-21', 'confirmed': 988, 'deaths': 6, 'recovered': 184},
  {'date': '2020-02-22', 'confirmed': 989, 'deaths': 6, 'recovered': 203},
  {'date': '2020-02-23', 'confirmed': 989, 'deaths': 6, 'recovered': 219},
  {'date': '2020-02-24', 'confirmed': 989, 'deaths': 6, 'recovered': 234},
  {'date': '2020-02-25', 'confirmed': 989, 'deaths': 6, 'recovered': 248},
  {'date': '2020-02-26', 'confirmed': 989, 'deaths': 6, 'recovered': 261},
  {'date': '2020-02-27', 'confirmed': 989, 'deaths': 6, 'recovered': 274},
  {'date': '2020-02-28', 'confirmed': 990, 'deaths': 6, 'recovered': 277},
  {'date': '2020-02-29', 'confirmed': 990, 'deaths': 6, 'recovered': 282},
  {'date': '2020-03-01', 'confirmed': 990, 'deaths': 6, 'recovered': 294},
  {'date': '2020-03-02', 'confirmed': 990, 'deaths': 6, 'recovered': 296},
  {'date': '2020-03-03', 'confirmed': 990, 'deaths': 6, 'recovered': 300},
  {'date': '2020-03-04', 'confirmed': 990, 'deaths': 6, 'recovered': 301},
  {'date': '2020-03-05', 'confirmed': 990, 'deaths': 6, 'recovered': 304},
  {'date': '2020-03-06', 'confirmed': 990, 'deaths': 6, 'recovered': 305},
  {'date': '2020-03-07', 'confirmed': 990, 'deaths': 6, 'recovered': 307},
  {'date': '2020-03-08', 'confirmed': 990, 'deaths': 6, 'recovered': 307},
  {'date': '2020-03-09', 'confirmed': 990, 'deaths': 6, 'recovered': 307},
  {'date': '2020-03-10', 'confirmed': 990, 'deaths': 6, 'recovered': 307},
  {'date': '2020-03-11', 'confirmed': 990, 'deaths': 6, 'recovered': 307},
  {'date': '2020-03-12', 'confirmed': 990, 'deaths': 6, 'recovered': 308},
  {'date': '2020-03-13', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-14', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-15', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-16', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-17', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-18', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-19', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-20', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-21', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-22', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-23', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-24', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-25', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-26', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-27', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-28', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-29', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-30', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-31', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-04-01', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-04-02', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-04-03', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-04-04', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-04-05', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-04-06', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-04-07', 'confirmed': 990, 'deaths': 6, 'recovered': 312},
  {'date': '2020-04-08', 'confirmed': 990, 'deaths': 6, 'recovered': 312},
  {'date': '2020-04-09', 'confirmed': 991, 'deaths': 6, 'recovered': 313},
  {'date': '2020-04-10', 'confirmed': 991, 'deaths': 6, 'recovered': 313},
  {'date': '2020-04-11', 'confirmed': 991, 'deaths': 6, 'recovered': 313},
  {'date': '2020-04-12', 'confirmed': 991, 'deaths': 6, 'recovered': 313},
  {'date': '2020-04-13', 'confirmed': 991, 'deaths': 6, 'recovered': 313},
  {'date': '2020-04-14', 'confirmed': 991, 'deaths': 6, 'recovered': 314},
  {'date': '2020-04-15', 'confirmed': 991, 'deaths': 6, 'recovered': 314},
  {'date': '2020-04-16', 'confirmed': 991, 'deaths': 6, 'recovered': 315},
  {'date': '2020-04-17', 'confirmed': 991, 'deaths': 6, 'recovered': 316},
  {'date': '2020-04-18', 'confirmed': 991, 'deaths': 6, 'recovered': 316},
  {'date': '2020-04-19', 'confirmed': 991, 'deaths': 6, 'recovered': 316},
  {'date': '2020-04-20', 'confirmed': 991, 'deaths': 6, 'recovered': 317},
  {'date': '2020-04-21', 'confirmed': 991, 'deaths': 6, 'recovered': 317},
  {'date': '2020-04-22', 'confirmed': 991, 'deaths': 6, 'recovered': 317},
  {'date': '2020-04-23', 'confirmed': 991, 'deaths': 6, 'recovered': 317}]}

In [10]:
with open('china_timeline.json','w',encoding='utf8')as f:
    f.write(str(provinces))

## 世界各国

In [11]:
DF_confirmed_groups = pd.DataFrame(confirmed).groupby('country')
DF_deaths_groups = pd.DataFrame(deaths).groupby('country')
DF_recovered_groups = pd.DataFrame(recovered).groupby('country')

In [21]:
# pd.DataFrame(confirmed).country.drop_duplicates().tolist()

In [12]:
print(len(DF_confirmed_groups), len(DF_deaths_groups), len(DF_recovered_groups))

185 185 185

In [13]:
cntry_names = list(DF_confirmed_groups.groups.keys())

In [14]:
DF_confirmed_groups.get_group('China')

,country,country_code,province,coordinates,history,latest
49,China,CN,Anhui,"{'lat': '31.8257', 'long': '117.2264'}","{'1/22/20': 1, '1/23/20': 9, '1/24/20': 15, '1...",991
50,China,CN,Beijing,"{'lat': '40.1824', 'long': '116.4142'}","{'1/22/20': 14, '1/23/20': 22, '1/24/20': 36, ...",593
51,China,CN,Chongqing,"{'lat': '30.0572', 'long': '107.874'}","{'1/22/20': 6, '1/23/20': 9, '1/24/20': 27, '1...",579
52,China,CN,Fujian,"{'lat': '26.0789', 'long': '117.9874'}","{'1/22/20': 1, '1/23/20': 5, '1/24/20': 10, '1...",355
53,China,CN,Gansu,"{'lat': '37.8099', 'long': '101.0583'}","{'1/22/20': 0, '1/23/20': 2, '1/24/20': 2, '1/...",139
54,China,CN,Guangdong,"{'lat': '23.3417', 'long': '113.4244'}","{'1/22/20': 26, '1/23/20': 32, '1/24/20': 53, ...",1585
55,China,CN,Guangxi,"{'lat': '23.8298', 'long': '108.7881'}","{'1/22/20': 2, '1/23/20': 5, '1/24/20': 23, '1...",254
56,China,CN,Guizhou,"{'lat': '26.8154', 'long': '106.8748'}","{'1/22/20': 1, '1/23/20': 3, '1/24/20': 3, '1/...",147
57,China,CN,Hainan,"{'lat': '19.1959', 'long': '109.7453'}","{'1/22/20': 4, '1/23/20': 5, '1/24/20': 8, '1/...",168
58,China,CN,Hebei,"{'lat': '39.549', 'long': '116.1306'}","{'1/22/20': 1, '1/23/20': 1, '1/24/20': 2, '1/...",328
59,China,CN,Heilongjiang,"{'lat': '47.862', 'long': '127.7615'}","{'1/22/20': 0, '1/23/20': 2, '1/24/20': 4, '1/...",928
60,China,CN,Henan,"{'lat': '33.882', 'long': '113.614'}","{'1/22/20': 5, '1/23/20': 5, '1/24/20': 9, '1/...",1276
61,China,CN,Hong Kong,"{'lat': '22.3', 'long': '114.2'}","{'1/22/20': 0, '1/23/20': 2, '1/24/20': 2, '1/...",1035
62,China,CN,Hubei,"{'lat': '30.9756', 'long': '112.2707'}","{'1/22/20': 444, '1/23/20': 444, '1/24/20': 54...",68128
63,China,CN,Hunan,"{'lat': '27.6104', 'long': '111.7088'}","{'1/22/20': 4, '1/23/20': 9, '1/24/20': 24, '1...",1019
64,China,CN,Inner Mongolia,"{'lat': '44.0935', 'long': '113.9448'}","{'1/22/20': 0, '1/23/20': 0, '1/24/20': 1, '1/...",194
65,China,CN,Jiangsu,"{'lat': '32.9711', 'long': '119.455'}","{'1/22/20': 1, '1/23/20': 5, '1/24/20': 9, '1/...",653
66,China,CN,Jiangxi,"{'lat': '27.614', 'long': '115.7221'}","{'1/22/20': 2, '1/23/20': 7, '1/24/20': 18, '1...",937
67,China,CN,Jilin,"{'lat': '43.6661', 'long': '126.1923'}","{'1/22/20': 0, '1/23/20': 1, '1/24/20': 3, '1/...",108
68,China,CN,Liaoning,"{'lat': '41.2956', 'long': '122.6085'}","{'1/22/20': 2, '1/23/20': 3, '1/24/20': 4, '1/...",146
69,China,CN,Macau,"{'lat': '22.1667', 'long': '113.55'}","{'1/22/20': 1, '1/23/20': 2, '1/24/20': 2, '1/...",45
70,China,CN,Ningxia,"{'lat': '37.2692', 'long': '106.1655'}","{'1/22/20': 1, '1/23/20': 1, '1/24/20': 2, '1/...",75
71,China,CN,Qinghai,"{'lat': '35.7452', 'long': '95.9956'}","{'1/22/20': 0, '1/23/20': 0, '1/24/20': 0, '1/...",18
72,China,CN,Shaanxi,"{'lat': '35.1917', 'long': '108.8701'}","{'1/22/20': 0, '1/23/20': 3, '1/24/20': 5, '1/...",279
73,China,CN,Shandong,"{'lat': '36.3427', 'long': '118.1498'}","{'1/22/20': 2, '1/23/20': 6, '1/24/20': 15, '1...",787
74,China,CN,Shanghai,"{'lat': '31.202', 'long': '121.4491'}","{'1/22/20': 9, '1/23/20': 16, '1/24/20': 20, '...",641
75,China,CN,Shanxi,"{'lat': '37.5777', 'long': '112.2922'}","{'1/22/20': 1, '1/23/20': 1, '1/24/20': 1, '1/...",197
76,China,CN,Sichuan,"{'lat': '30.6171', 'long': '102.7103'}","{'1/22/20': 5, '1/23/20': 8, '1/24/20': 15, '1...",561
77,China,CN,Tianjin,"{'lat': '39.3054', 'long': '117.323'}","{'1/22/20': 4, '1/23/20': 4, '1/24/20': 8, '1/...",189
78,China,CN,Tibet,"{'lat': '31.6927', 'long': '88.0924'}","{'1/22/20': 0, '1/23/20': 0, '1/24/20': 0, '1/...",1
79,China,CN,Xinjiang,"{'lat': '41.1129', 'long': '85.2401'}","{'1/22/20': 0, '1/23/20': 2, '1/24/20': 2, '1/...",76
80,China,CN,Yunnan,"{'lat': '24.974', 'long': '101.487'}","{'1/22/20': 1, '1/23/20': 2, '1/24/20': 5, '1/...",184
81,China,CN,Zhejiang,"{'lat': '29.1832', 'long': '120.0934'}","{'1/22/20': 10, '1/23/20': 27, '1/24/20': 43, ...",1268

In [15]:
countries = []
for cntry in cntry_names:
    df = DF_confirmed_groups.get_group(cntry)
    df_deaths = DF_deaths_groups.get_group(cntry)
    df_recovered = DF_recovered_groups.get_group(cntry)

    dates = list(df.history.iloc[0].keys())
    timeline = []

    for d in dates:
        date_ = time.strftime("%Y-%m-%d", time.strptime(d, "%m/%d/%y"))

        # confirmed each day
        sum_confirmed = 0
        for h in df.history:
            sum_confirmed += h[d]

        # deaths each day
        sum_deaths = 0
        for h in df_deaths.history:
            sum_deaths += h[d]

        # recovered each day
        sum_recovered = 0
        for h in df_recovered.history:
            sum_recovered += h[d]

        timeline.append({
            'date': date_,
            'confirmed': sum_confirmed,
            'deaths': sum_deaths,
            'recovered': sum_recovered
        })
        
    countries.append({
        'country': cntry,
        'country_code': df.iloc[0].country_code,
        'latest': {
            'confirmed': sum_confirmed,
            'deaths': sum_deaths,
            'recovered': sum_recovered
        },
        'timeline': timeline
    })

In [16]:
countries_result = pd.DataFrame(countries)

In [17]:
countries_result.to_json("world_timeline.json", orient='records')

## We are the world

In [25]:
countries_result.head()

,country,country_code,latest,timeline
0,Afghanistan,AF,"{'confirmed': 1279, 'deaths': 42, 'recovered':...","[{'date': '2020-01-22', 'confirmed': 0, 'death..."
1,Albania,AL,"{'confirmed': 663, 'deaths': 27, 'recovered': ...","[{'date': '2020-01-22', 'confirmed': 0, 'death..."
2,Algeria,DZ,"{'confirmed': 3007, 'deaths': 407, 'recovered'...","[{'date': '2020-01-22', 'confirmed': 0, 'death..."
3,Andorra,AD,"{'confirmed': 723, 'deaths': 37, 'recovered': ...","[{'date': '2020-01-22', 'confirmed': 0, 'death..."
4,Angola,AO,"{'confirmed': 25, 'deaths': 2, 'recovered': 6}","[{'date': '2020-01-22', 'confirmed': 0, 'death..."

In [47]:
global_confirmed, global_deaths, global_recovered = 0, 0, 0
for entry in countries_result.latest:
    global_confirmed += entry['confirmed']
    global_deaths += entry['deaths']
    global_recovered += entry['recovered']

global_latest = {
    'confirmed': global_confirmed,
    'deaths': global_deaths,
    'recovered': global_recovered
}
print(global_latest)

{'confirmed': 2707728, 'deaths': 190857, 'recovered': 738486}

In [46]:
global_timeline = countries_result.iloc[0].timeline
print("Data in {} days.".format(len(global_timeline)))
for i in range(len(global_timeline)):
    global_daily_confirmed = 0
    global_daily_deaths = 0
    global_daily_recovered = 0
    for tl in countries_result.timeline:
        global_daily_confirmed += tl[i]['confirmed']
        global_daily_deaths += tl[i]['deaths']
        global_daily_recovered += tl[i]['recovered']
    global_timeline[i]['confirmed'] = global_daily_confirmed
    global_timeline[i]['deaths'] = global_daily_deaths
    global_timeline[i]['recovered'] = global_daily_recovered
print(global_timeline)

Data in 93 days.
[{'date': '2020-01-22', 'confirmed': 555, 'deaths': 17, 'recovered': 28}, {'date': '2020-01-23', 'confirmed': 654, 'deaths': 18, 'recovered': 30}, {'date': '2020-01-24', 'confirmed': 941, 'deaths': 26, 'recovered': 36}, {'date': '2020-01-25', 'confirmed': 1434, 'deaths': 42, 'recovered': 39}, {'date': '2020-01-26', 'confirmed': 2118, 'deaths': 56, 'recovered': 52}, {'date': '2020-01-27', 'confirmed': 2927, 'deaths': 82, 'recovered': 61}, {'date': '2020-01-28', 'confirmed': 5578, 'deaths': 131, 'recovered': 107}, {'date': '2020-01-29', 'confirmed': 6166, 'deaths': 133, 'recovered': 126}, {'date': '2020-01-30', 'confirmed': 8234, 'deaths': 171, 'recovered': 143}, {'date': '2020-01-31', 'confirmed': 9927, 'deaths': 213, 'recovered': 222}, {'date': '2020-02-01', 'confirmed': 12038, 'deaths': 259, 'recovered': 284}, {'date': '2020-02-02', 'confirmed': 16787, 'deaths': 362, 'recovered': 472}, {'date': '2020-02-03', 'confirmed': 19881, 'deaths': 426, 'recovered': 623}, {'date': '2020-02-04', 'confirmed': 23892, 'deaths': 492, 'recovered': 852}, {'date': '2020-02-05', 'confirmed': 27635, 'deaths': 564, 'recovered': 1124}, {'date': '2020-02-06', 'confirmed': 30794, 'deaths': 634, 'recovered': 1487}, {'date': '2020-02-07', 'confirmed': 34391, 'deaths': 719, 'recovered': 2011}, {'date': '2020-02-08', 'confirmed': 37120, 'deaths': 806, 'recovered': 2616}, {'date': '2020-02-09', 'confirmed': 40150, 'deaths': 906, 'recovered': 3244}, {'date': '2020-02-10', 'confirmed': 42762, 'deaths': 1013, 'recovered': 3946}, {'date': '2020-02-11', 'confirmed': 44802, 'deaths': 1113, 'recovered': 4683}, {'date': '2020-02-12', 'confirmed': 45221, 'deaths': 1118, 'recovered': 5150}, {'date': '2020-02-13', 'confirmed': 60368, 'deaths': 1371, 'recovered': 6295}, {'date': '2020-02-14', 'confirmed': 66885, 'deaths': 1523, 'recovered': 8058}, {'date': '2020-02-15', 'confirmed': 69030, 'deaths': 1666, 'recovered': 9395}, {'date': '2020-02-16', 'confirmed': 71224, 'deaths': 1770, 'recovered': 10865}, {'date': '2020-02-17', 'confirmed': 73258, 'deaths': 1868, 'recovered': 12583}, {'date': '2020-02-18', 'confirmed': 75136, 'deaths': 2007, 'recovered': 14352}, {'date': '2020-02-19', 'confirmed': 75639, 'deaths': 2122, 'recovered': 16121}, {'date': '2020-02-20', 'confirmed': 76197, 'deaths': 2247, 'recovered': 18177}, {'date': '2020-02-21', 'confirmed': 76819, 'deaths': 2251, 'recovered': 18890}, {'date': '2020-02-22', 'confirmed': 78572, 'deaths': 2458, 'recovered': 22886}, {'date': '2020-02-23', 'confirmed': 78958, 'deaths': 2469, 'recovered': 23394}, {'date': '2020-02-24', 'confirmed': 79561, 'deaths': 2629, 'recovered': 25227}, {'date': '2020-02-25', 'confirmed': 80406, 'deaths': 2708, 'recovered': 27905}, {'date': '2020-02-26', 'confirmed': 81388, 'deaths': 2770, 'recovered': 30384}, {'date': '2020-02-27', 'confirmed': 82746, 'deaths': 2814, 'recovered': 33277}, {'date': '2020-02-28', 'confirmed': 84112, 'deaths': 2872, 'recovered': 36711}, {'date': '2020-02-29', 'confirmed': 86011, 'deaths': 2941, 'recovered': 39782}, {'date': '2020-03-01', 'confirmed': 88369, 'deaths': 2996, 'recovered': 42716}, {'date': '2020-03-02', 'confirmed': 90306, 'deaths': 3085, 'recovered': 45602}, {'date': '2020-03-03', 'confirmed': 92840, 'deaths': 3160, 'recovered': 48228}, {'date': '2020-03-04', 'confirmed': 95120, 'deaths': 3254, 'recovered': 51170}, {'date': '2020-03-05', 'confirmed': 97886, 'deaths': 3348, 'recovered': 53796}, {'date': '2020-03-06', 'confirmed': 101801, 'deaths': 3460, 'recovered': 55865}, {'date': '2020-03-07', 'confirmed': 105847, 'deaths': 3558, 'recovered': 58358}, {'date': '2020-03-08', 'confirmed': 109821, 'deaths': 3802, 'recovered': 60694}, {'date': '2020-03-09', 'confirmed': 113590, 'deaths': 3988, 'recovered': 62494}, {'date': '2020-03-10', 'confirmed': 118620, 'deaths': 4262, 'recovered': 64404}, {'date': '2020-03-11', 'confirmed': 125875, 'deaths': 4615, 'recovered': 67003}, {'date': '2020-03-12', 'confirmed': 128352, 'deaths': 4720, 'recovered': 68324}, {'date': '2020-03-13', 'confirmed': 145205, 'deaths': 5404, 'recovered': 70251}, {'date': '2020-03-14', 'confirmed': 156101, 'deaths': 5819, 'recovered': 72624}, {'date': '2020-03-15', 'confirmed': 167454, 'deaths': 6440, 'recovered': 76034}, {'date': '2020-03-16', 'confirmed': 181574, 'deaths': 7126, 'recovered': 78088}, {'date': '2020-03-17', 'confirmed': 197102, 'deaths': 7905, 'recovered': 80840}, {'date': '2020-03-18', 'confirmed': 214821, 'deaths': 8733, 'recovered': 83312}, {'date': '2020-03-19', 'confirmed': 242570, 'deaths': 9867, 'recovered': 84975}, {'date': '2020-03-20', 'confirmed': 272208, 'deaths': 11299, 'recovered': 87420}, {'date': '2020-03-21', 'confirmed': 304507, 'deaths': 12973, 'recovered': 91692}, {'date': '2020-03-22', 'confirmed': 336953, 'deaths': 14651, 'recovered': 97899}, {'date': '2020-03-23', 'confirmed': 378231, 'deaths': 16505, 'recovered': 98351}, {'date': '2020-03-24', 'confirmed': 418041, 'deaths': 18625, 'recovered': 108000}, {'date': '2020-03-25', 'confirmed': 467653, 'deaths': 21181, 'recovered': 113787}, {'date': '2020-03-26', 'confirmed': 529591, 'deaths': 23970, 'recovered': 122150}, {'date': '2020-03-27', 'confirmed': 593291, 'deaths': 27198, 'recovered': 130915}, {'date': '2020-03-28', 'confirmed': 660693, 'deaths': 30652, 'recovered': 139415}, {'date': '2020-03-29', 'confirmed': 720140, 'deaths': 33925, 'recovered': 149082}, {'date': '2020-03-30', 'confirmed': 782389, 'deaths': 37582, 'recovered': 164566}, {'date': '2020-03-31', 'confirmed': 857487, 'deaths': 42108, 'recovered': 178034}, {'date': '2020-04-01', 'confirmed': 932475, 'deaths': 47183, 'recovered': 193177}, {'date': '2020-04-02', 'confirmed': 1013326, 'deaths': 52986, 'recovered': 210263}, {'date': '2020-04-03', 'confirmed': 1095698, 'deaths': 58790, 'recovered': 225796}, {'date': '2020-04-04', 'confirmed': 1175857, 'deaths': 64607, 'recovered': 246152}, {'date': '2020-04-05', 'confirmed': 1249484, 'deaths': 69374, 'recovered': 260012}, {'date': '2020-04-06', 'confirmed': 1321131, 'deaths': 74565, 'recovered': 276515}, {'date': '2020-04-07', 'confirmed': 1396092, 'deaths': 81937, 'recovered': 300054}, {'date': '2020-04-08', 'confirmed': 1479804, 'deaths': 88347, 'recovered': 328661}, {'date': '2020-04-09', 'confirmed': 1565278, 'deaths': 95521, 'recovered': 353975}, {'date': '2020-04-10', 'confirmed': 1657526, 'deaths': 102534, 'recovered': 376096}, {'date': '2020-04-11', 'confirmed': 1735650, 'deaths': 108511, 'recovered': 402110}, {'date': '2020-04-12', 'confirmed': 1834721, 'deaths': 114100, 'recovered': 421722}, {'date': '2020-04-13', 'confirmed': 1904838, 'deaths': 119491, 'recovered': 448655}, {'date': '2020-04-14', 'confirmed': 1975195, 'deaths': 125995, 'recovered': 474261}, {'date': '2020-04-15', 'confirmed': 2055057, 'deaths': 134189, 'recovered': 511019}, {'date': '2020-04-16', 'confirmed': 2151421, 'deaths': 143814, 'recovered': 542107}, {'date': '2020-04-17', 'confirmed': 2239144, 'deaths': 153835, 'recovered': 568343}, {'date': '2020-04-18', 'confirmed': 2316716, 'deaths': 159509, 'recovered': 592319}, {'date': '2020-04-19', 'confirmed': 2400078, 'deaths': 165043, 'recovered': 623903}, {'date': '2020-04-20', 'confirmed': 2471247, 'deaths': 169985, 'recovered': 645738}, {'date': '2020-04-21', 'confirmed': 2548091, 'deaths': 176582, 'recovered': 679819}, {'date': '2020-04-22', 'confirmed': 2623049, 'deaths': 183064, 'recovered': 709694}, {'date': '2020-04-23', 'confirmed': 2707728, 'deaths': 190857, 'recovered': 738486}]

In [51]:
global_data = {
    'country': 'global',
    'latest': global_latest,
    'timeline': global_timeline
}
with open('global_timeline.json', 'w') as f:
    json.dump(global_data, f)