In [109]:
import pandas as pd
import time
import json

## 读取文件

In [139]:
with open('all.json','r',encoding='utf8')as fp:
    json_data = json.load(fp)
    print(json_data.keys())
    print(type(json_data))

dict_keys(['confirmed', 'deaths', 'recovered', 'latest'])
<class 'dict'>

In [144]:
json_data['confirmed'].keys()

dict_keys(['locations', 'latest', 'last_updated', 'source'])

In [207]:
confirmed = json_data['confirmed']['locations']
deaths = json_data['deaths']['locations']
recovered = json_data['recovered']['locations']

In [208]:
print(len(confirmed), len(deaths), len(recovered))

264 264 250

## 处理中国数据（按省）并导出

In [140]:
china_indexes = []
for (index, item) in enumerate(json_data['confirmed']['locations']):
    if item['country'] == 'China':
        china_indexes.append(index)
print(china_indexes)

[49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81]

In [142]:
provinces = []
for i in china_indexes[:5]:
    p_dict = {}
    p_dict['country'] = confirmed[i]['country']
    p_dict['country_code'] = confirmed[i]['country_code']
    p_dict['province'] = confirmed[i]['province']
    p_dict['coordinates'] = confirmed[i]['coordinates']
    p_dict['latest'] = {
        'confirmed':confirmed[i]['latest'],
        'deaths':deaths[i]['latest'],
        'recovered':recovered[i]['latest']
    }

    timeline = []
    for date in confirmed[i]['history'].keys():
        date_ = time.strftime("%Y-%m-%d", time.strptime(date, "%m/%d/%y"))
        #     print({'date': date_, 'confirmed': cnt})
        timeline.append({
            'date': date_,
            'confirmed': confirmed[i]['history'][date],
            'deaths': deaths[i]['history'][date],
            'recovered': recovered[i]['history'][date]
        })
    p_dict['timeline'] = timeline

    provinces.append(p_dict)

In [147]:
provinces[0]

{'country': 'China',
 'country_code': 'CN',
 'province': 'Anhui',
 'coordinates': {'lat': '31.8257', 'long': '117.2264'},
 'latest': {'confirmed': 991, 'deaths': 6, 'recovered': 317},
 'timeline': [{'date': '2020-01-22',
   'confirmed': 1,
   'deaths': 0,
   'recovered': 0},
  {'date': '2020-01-23', 'confirmed': 9, 'deaths': 0, 'recovered': 0},
  {'date': '2020-01-24', 'confirmed': 15, 'deaths': 0, 'recovered': 0},
  {'date': '2020-01-25', 'confirmed': 39, 'deaths': 0, 'recovered': 0},
  {'date': '2020-01-26', 'confirmed': 60, 'deaths': 0, 'recovered': 0},
  {'date': '2020-01-27', 'confirmed': 70, 'deaths': 0, 'recovered': 0},
  {'date': '2020-01-28', 'confirmed': 106, 'deaths': 0, 'recovered': 0},
  {'date': '2020-01-29', 'confirmed': 152, 'deaths': 0, 'recovered': 0},
  {'date': '2020-01-30', 'confirmed': 200, 'deaths': 0, 'recovered': 0},
  {'date': '2020-01-31', 'confirmed': 237, 'deaths': 0, 'recovered': 0},
  {'date': '2020-02-01', 'confirmed': 297, 'deaths': 0, 'recovered': 0},
  {'date': '2020-02-02', 'confirmed': 340, 'deaths': 0, 'recovered': 3},
  {'date': '2020-02-03', 'confirmed': 408, 'deaths': 0, 'recovered': 3},
  {'date': '2020-02-04', 'confirmed': 480, 'deaths': 0, 'recovered': 4},
  {'date': '2020-02-05', 'confirmed': 530, 'deaths': 0, 'recovered': 6},
  {'date': '2020-02-06', 'confirmed': 591, 'deaths': 0, 'recovered': 13},
  {'date': '2020-02-07', 'confirmed': 665, 'deaths': 0, 'recovered': 22},
  {'date': '2020-02-08', 'confirmed': 733, 'deaths': 0, 'recovered': 30},
  {'date': '2020-02-09', 'confirmed': 779, 'deaths': 1, 'recovered': 34},
  {'date': '2020-02-10', 'confirmed': 830, 'deaths': 3, 'recovered': 41},
  {'date': '2020-02-11', 'confirmed': 860, 'deaths': 4, 'recovered': 48},
  {'date': '2020-02-12', 'confirmed': 889, 'deaths': 4, 'recovered': 54},
  {'date': '2020-02-13', 'confirmed': 910, 'deaths': 5, 'recovered': 68},
  {'date': '2020-02-14', 'confirmed': 934, 'deaths': 6, 'recovered': 87},
  {'date': '2020-02-15', 'confirmed': 950, 'deaths': 6, 'recovered': 101},
  {'date': '2020-02-16', 'confirmed': 962, 'deaths': 6, 'recovered': 105},
  {'date': '2020-02-17', 'confirmed': 973, 'deaths': 6, 'recovered': 122},
  {'date': '2020-02-18', 'confirmed': 982, 'deaths': 6, 'recovered': 136},
  {'date': '2020-02-19', 'confirmed': 986, 'deaths': 6, 'recovered': 152},
  {'date': '2020-02-20', 'confirmed': 987, 'deaths': 6, 'recovered': 169},
  {'date': '2020-02-21', 'confirmed': 988, 'deaths': 6, 'recovered': 184},
  {'date': '2020-02-22', 'confirmed': 989, 'deaths': 6, 'recovered': 203},
  {'date': '2020-02-23', 'confirmed': 989, 'deaths': 6, 'recovered': 219},
  {'date': '2020-02-24', 'confirmed': 989, 'deaths': 6, 'recovered': 234},
  {'date': '2020-02-25', 'confirmed': 989, 'deaths': 6, 'recovered': 248},
  {'date': '2020-02-26', 'confirmed': 989, 'deaths': 6, 'recovered': 261},
  {'date': '2020-02-27', 'confirmed': 989, 'deaths': 6, 'recovered': 274},
  {'date': '2020-02-28', 'confirmed': 990, 'deaths': 6, 'recovered': 277},
  {'date': '2020-02-29', 'confirmed': 990, 'deaths': 6, 'recovered': 282},
  {'date': '2020-03-01', 'confirmed': 990, 'deaths': 6, 'recovered': 294},
  {'date': '2020-03-02', 'confirmed': 990, 'deaths': 6, 'recovered': 296},
  {'date': '2020-03-03', 'confirmed': 990, 'deaths': 6, 'recovered': 300},
  {'date': '2020-03-04', 'confirmed': 990, 'deaths': 6, 'recovered': 301},
  {'date': '2020-03-05', 'confirmed': 990, 'deaths': 6, 'recovered': 304},
  {'date': '2020-03-06', 'confirmed': 990, 'deaths': 6, 'recovered': 305},
  {'date': '2020-03-07', 'confirmed': 990, 'deaths': 6, 'recovered': 307},
  {'date': '2020-03-08', 'confirmed': 990, 'deaths': 6, 'recovered': 307},
  {'date': '2020-03-09', 'confirmed': 990, 'deaths': 6, 'recovered': 307},
  {'date': '2020-03-10', 'confirmed': 990, 'deaths': 6, 'recovered': 307},
  {'date': '2020-03-11', 'confirmed': 990, 'deaths': 6, 'recovered': 307},
  {'date': '2020-03-12', 'confirmed': 990, 'deaths': 6, 'recovered': 308},
  {'date': '2020-03-13', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-14', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-15', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-16', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-17', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-18', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-19', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-20', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-21', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-22', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-23', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-24', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-25', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-26', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-27', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-28', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-29', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-30', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-03-31', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-04-01', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-04-02', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-04-03', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-04-04', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-04-05', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-04-06', 'confirmed': 990, 'deaths': 6, 'recovered': 310},
  {'date': '2020-04-07', 'confirmed': 990, 'deaths': 6, 'recovered': 312},
  {'date': '2020-04-08', 'confirmed': 990, 'deaths': 6, 'recovered': 312},
  {'date': '2020-04-09', 'confirmed': 991, 'deaths': 6, 'recovered': 313},
  {'date': '2020-04-10', 'confirmed': 991, 'deaths': 6, 'recovered': 313},
  {'date': '2020-04-11', 'confirmed': 991, 'deaths': 6, 'recovered': 313},
  {'date': '2020-04-12', 'confirmed': 991, 'deaths': 6, 'recovered': 313},
  {'date': '2020-04-13', 'confirmed': 991, 'deaths': 6, 'recovered': 313},
  {'date': '2020-04-14', 'confirmed': 991, 'deaths': 6, 'recovered': 314},
  {'date': '2020-04-15', 'confirmed': 991, 'deaths': 6, 'recovered': 314},
  {'date': '2020-04-16', 'confirmed': 991, 'deaths': 6, 'recovered': 315},
  {'date': '2020-04-17', 'confirmed': 991, 'deaths': 6, 'recovered': 316},
  {'date': '2020-04-18', 'confirmed': 991, 'deaths': 6, 'recovered': 316},
  {'date': '2020-04-19', 'confirmed': 991, 'deaths': 6, 'recovered': 316},
  {'date': '2020-04-20', 'confirmed': 991, 'deaths': 6, 'recovered': 317},
  {'date': '2020-04-21', 'confirmed': 991, 'deaths': 6, 'recovered': 317}]}

In [143]:
with open('china_timeline.json','w',encoding='utf8')as f:
    f.write(str(provinces))

## 处理世界数据（按国家）并导出

In [238]:
DF_confirmed_groups = pd.DataFrame(confirmed).groupby('country')
DF_deaths_groups = pd.DataFrame(deaths).groupby('country')
DF_recovered_groups = pd.DataFrame(recovered).groupby('country')

In [239]:
print(len(DF_confirmed_groups), len(DF_deaths_groups), len(DF_recovered_groups))

185 185 185

In [257]:
cntry_names = list(DF_confirmed_groups.groups.keys())

In [252]:
DF_confirmed_groups.get_group('China')

,country,country_code,province,coordinates,history,latest
49,China,CN,Anhui,"{'lat': '31.8257', 'long': '117.2264'}","{'1/22/20': 1, '1/23/20': 9, '1/24/20': 15, '1...",991
50,China,CN,Beijing,"{'lat': '40.1824', 'long': '116.4142'}","{'1/22/20': 14, '1/23/20': 22, '1/24/20': 36, ...",593
51,China,CN,Chongqing,"{'lat': '30.0572', 'long': '107.874'}","{'1/22/20': 6, '1/23/20': 9, '1/24/20': 27, '1...",579
52,China,CN,Fujian,"{'lat': '26.0789', 'long': '117.9874'}","{'1/22/20': 1, '1/23/20': 5, '1/24/20': 10, '1...",355
53,China,CN,Gansu,"{'lat': '37.8099', 'long': '101.0583'}","{'1/22/20': 0, '1/23/20': 2, '1/24/20': 2, '1/...",139
54,China,CN,Guangdong,"{'lat': '23.3417', 'long': '113.4244'}","{'1/22/20': 26, '1/23/20': 32, '1/24/20': 53, ...",1582
55,China,CN,Guangxi,"{'lat': '23.8298', 'long': '108.7881'}","{'1/22/20': 2, '1/23/20': 5, '1/24/20': 23, '1...",254
56,China,CN,Guizhou,"{'lat': '26.8154', 'long': '106.8748'}","{'1/22/20': 1, '1/23/20': 3, '1/24/20': 3, '1/...",147
57,China,CN,Hainan,"{'lat': '19.1959', 'long': '109.7453'}","{'1/22/20': 4, '1/23/20': 5, '1/24/20': 8, '1/...",168
58,China,CN,Hebei,"{'lat': '39.549', 'long': '116.1306'}","{'1/22/20': 1, '1/23/20': 1, '1/24/20': 2, '1/...",328
59,China,CN,Heilongjiang,"{'lat': '47.862', 'long': '127.7615'}","{'1/22/20': 0, '1/23/20': 2, '1/24/20': 4, '1/...",913
60,China,CN,Henan,"{'lat': '33.882', 'long': '113.614'}","{'1/22/20': 5, '1/23/20': 5, '1/24/20': 9, '1/...",1276
61,China,CN,Hong Kong,"{'lat': '22.3', 'long': '114.2'}","{'1/22/20': 0, '1/23/20': 2, '1/24/20': 2, '1/...",1029
62,China,CN,Hubei,"{'lat': '30.9756', 'long': '112.2707'}","{'1/22/20': 444, '1/23/20': 444, '1/24/20': 54...",68128
63,China,CN,Hunan,"{'lat': '27.6104', 'long': '111.7088'}","{'1/22/20': 4, '1/23/20': 9, '1/24/20': 24, '1...",1019
64,China,CN,Inner Mongolia,"{'lat': '44.0935', 'long': '113.9448'}","{'1/22/20': 0, '1/23/20': 0, '1/24/20': 1, '1/...",194
65,China,CN,Jiangsu,"{'lat': '32.9711', 'long': '119.455'}","{'1/22/20': 1, '1/23/20': 5, '1/24/20': 9, '1/...",653
66,China,CN,Jiangxi,"{'lat': '27.614', 'long': '115.7221'}","{'1/22/20': 2, '1/23/20': 7, '1/24/20': 18, '1...",937
67,China,CN,Jilin,"{'lat': '43.6661', 'long': '126.1923'}","{'1/22/20': 0, '1/23/20': 1, '1/24/20': 3, '1/...",106
68,China,CN,Liaoning,"{'lat': '41.2956', 'long': '122.6085'}","{'1/22/20': 2, '1/23/20': 3, '1/24/20': 4, '1/...",146
69,China,CN,Macau,"{'lat': '22.1667', 'long': '113.55'}","{'1/22/20': 1, '1/23/20': 2, '1/24/20': 2, '1/...",45
70,China,CN,Ningxia,"{'lat': '37.2692', 'long': '106.1655'}","{'1/22/20': 1, '1/23/20': 1, '1/24/20': 2, '1/...",75
71,China,CN,Qinghai,"{'lat': '35.7452', 'long': '95.9956'}","{'1/22/20': 0, '1/23/20': 0, '1/24/20': 0, '1/...",18
72,China,CN,Shaanxi,"{'lat': '35.1917', 'long': '108.8701'}","{'1/22/20': 0, '1/23/20': 3, '1/24/20': 5, '1/...",277
73,China,CN,Shandong,"{'lat': '36.3427', 'long': '118.1498'}","{'1/22/20': 2, '1/23/20': 6, '1/24/20': 15, '1...",787
74,China,CN,Shanghai,"{'lat': '31.202', 'long': '121.4491'}","{'1/22/20': 9, '1/23/20': 16, '1/24/20': 20, '...",638
75,China,CN,Shanxi,"{'lat': '37.5777', 'long': '112.2922'}","{'1/22/20': 1, '1/23/20': 1, '1/24/20': 1, '1/...",197
76,China,CN,Sichuan,"{'lat': '30.6171', 'long': '102.7103'}","{'1/22/20': 5, '1/23/20': 8, '1/24/20': 15, '1...",561
77,China,CN,Tianjin,"{'lat': '39.3054', 'long': '117.323'}","{'1/22/20': 4, '1/23/20': 4, '1/24/20': 8, '1/...",189
78,China,CN,Tibet,"{'lat': '31.6927', 'long': '88.0924'}","{'1/22/20': 0, '1/23/20': 0, '1/24/20': 0, '1/...",1
79,China,CN,Xinjiang,"{'lat': '41.1129', 'long': '85.2401'}","{'1/22/20': 0, '1/23/20': 2, '1/24/20': 2, '1/...",76
80,China,CN,Yunnan,"{'lat': '24.974', 'long': '101.487'}","{'1/22/20': 1, '1/23/20': 2, '1/24/20': 5, '1/...",184
81,China,CN,Zhejiang,"{'lat': '29.1832', 'long': '120.0934'}","{'1/22/20': 10, '1/23/20': 27, '1/24/20': 43, ...",1268

In [280]:
countries = []
for cntry in cntry_names:
    df = DF_confirmed_groups.get_group(cntry)
    df_deaths = DF_deaths_groups.get_group(cntry)
    df_recovered = DF_recovered_groups.get_group(cntry)

    dates = list(df.history.iloc[0].keys())
    timeline = []

    for d in dates:
        date_ = time.strftime("%Y-%m-%d", time.strptime(d, "%m/%d/%y"))

        # confirmed each day
        sum_confirmed = 0
        for h in df.history:
            sum_confirmed += h[d]

        # deaths each day
        sum_deaths = 0
        for h in df_deaths.history:
            sum_deaths += h[d]

        # recovered each day
        sum_recovered = 0
        for h in df_recovered.history:
            sum_recovered += h[d]

        timeline.append({
            'date': date_,
            'confirmed': sum_confirmed,
            'deaths': sum_deaths,
            'recovered': sum_recovered
        })
        
    countries.append({
        'country': cntry,
        'country_code': df.iloc[0].country_code,
        'latest': {
            'confirmed': sum_confirmed,
            'deaths': sum_deaths,
            'recovered': sum_recovered
        },
        'timeline': timeline
    })

In [281]:
countries_result = pd.DataFrame(countries)

In [283]:
countries_result.to_json("world_timeline.json", orient='records')